<%= yield %>

<!--Ab hier Blog-->
<% if current_user %>
<h1>Hello <%= current_user.username %></h1>
<% else %>
<h1>Hello Stranger</h1>
<%end%>



<%= link_to "My Blog", posts_path %>
<!--eof Blog-->

